<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a id="logo-bilix" class="navbar-brand" href="#">
            <img src="https://www.bilix.cl/wp-content/uploads/2020/05/logo-bilix--95x45.png" title="logo bilix" alt="logo bilix">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/Tabla_Gestor">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Tabla_Gestor">Tabla Clientes</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Juan Pablo Navarrete
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/mi-perfil">Mi Perfil</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
